# CHAPTER 3 내장 자료구조, 함수, 파일

## 3.1 자료구조와 순차 자료형

### 3.1.1 튜플

In [4]:
tup = 4, 5, 6

In [5]:
tup

(4, 5, 6)

In [6]:
nested_tup = (4, 5, 6), (7, 8)

In [7]:
nested_tup

In [8]:
tuple([4, 0, 2])

(4, 0, 2)

In [9]:
tup = tuple('string')

In [10]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [11]:
tup[0]

's'

In [12]:
tup = tuple(['foo', [1, 2], True])

In [13]:
tup

('foo', [1, 2], True)

In [14]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [15]:
tup[1].append(3)

In [16]:
tup

('foo', [1, 2, 3], True)

In [17]:
(4, None, 'foo') + (6, 0) + ('bar', )

(4, None, 'foo', 6, 0, 'bar')

In [18]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

#### 튜플에서 값 분리하기

In [19]:
tup = (4, 5, 6)

In [20]:
a, b, c = tup

In [21]:
b

5

In [22]:
tup = 4, 6, (6, 7)

In [23]:
a, b, (c, d) = tup

In [24]:
d

7

In [25]:
a, b = 1, 2

In [26]:
a

1

In [27]:
b

2

In [28]:
a, b = b, a

In [29]:
a

2

In [30]:
b

1

In [31]:
seq = [(1,2,3), (4,5,6), (7,8,9)]

In [32]:
for a,b,c in seq:
    print('a = {0}, b={1}, c={2}'.format(a,b,c))

a = 1, b=2, c=3
a = 4, b=5, c=6
a = 7, b=8, c=9

In [33]:
values = 1,2,3,4,5

In [34]:
a, b, *rest = values

In [35]:
a

1

In [36]:
b

2

In [38]:
rest

[3, 4, 5]

In [39]:
a = (1,2,2,2,3,4,2)

In [42]:
a.count(2)

4

### 3.1.2 리스트

In [43]:
a_list = [2, 3, 4, None]

In [44]:
tup = ('foo', 'bar', 'baz')

In [45]:
b_list = list(tup)

In [46]:
b_list

['foo', 'bar', 'baz']

In [47]:
b_list[1] = 'peekaboo'

In [49]:
b_list

In [50]:
gen = range(10)

In [51]:
gen

range(0, 10)

In [52]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### 원소 추가하고 삭제하기

In [53]:
b_list.append('dwarf')

In [54]:
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [55]:
b_list.insert(1, 'red')

In [56]:
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [57]:
b_list.pop()

'dwarf'

In [58]:
b_list

['foo', 'red', 'peekaboo', 'baz']

In [59]:
b_list.append('foo')

In [60]:
b_list

['foo', 'red', 'peekaboo', 'baz', 'foo']

In [61]:
b_list.remove('foo')

In [62]:
b_list

['red', 'peekaboo', 'baz', 'foo']

In [63]:
'red' in b_list

True

In [65]:
'red' not in b_list

False

#### 리스트 이어붙이기

In [66]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [67]:
x = [4, None, 'foo']

In [70]:
x.extend([7, 9, (2, 3)])

In [71]:
x

[4, None, 'foo', 7, 9, (2, 3)]

In [74]:
a = [7,2,5,1,3]

In [75]:
a.sort()

In [76]:
a

[1, 2, 3, 5, 7]

In [77]:
b = ['saw', 'small', 'He', 'foxes', 'six']

In [78]:
b.sort(key=len)

In [79]:
b

['He', 'saw', 'six', 'small', 'foxes']

#### 슬라이싱

In [80]:
seq = [7,2,3,7,5,6,0,1]

In [81]:
seq[1:5]

[2, 3, 7, 5]

In [82]:
seq[3:4] = [6,3]

In [83]:
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [84]:
seq[5:]

[5, 6, 0, 1]

In [85]:
seq[-4:]

[5, 6, 0, 1]

In [87]:
seq[-6:-2]

[6, 3, 5, 6]

In [88]:
seq[::2]

[7, 3, 3, 6, 1]

In [89]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

### 3.1.3 내장 함수 자료형 함수

#### Enumerate

In [92]:
some_list = ['foo', 'bar', 'baz']

In [93]:
mapping = {}

In [94]:
for i, v in enumerate(some_list):
    mapping[v] = i

In [95]:
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [96]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [97]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

#### zip

In [98]:
seq1 = ['foo', 'bar', 'baz']

In [100]:
seq2 = ['one', 'two', 'three']

In [101]:
zipped = zip(seq1, seq2)

In [104]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [109]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [111]:
pitchers = [('A','B'), ('C', 'D'), ('E', 'F')]
first_name, last_name = zip(*pitchers)

In [112]:
first_name, last_name

(('A', 'C', 'E'), ('B', 'D', 'F'))

In [113]:
pitchers

[('A', 'B'), ('C', 'D'), ('E', 'F')]

In [10]:
words = ['apple', 'bat', 'bar', 'atom', 'book']

In [11]:
by_letter = {}

In [12]:
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

In [13]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [15]:
def add_number(x, y):
    return x + y

In [16]:
add_five = lambda y: add_number(2, y)

In [17]:
add_five

In [18]:
add_five(3)

5