In [1]:
import numpy as np
import pandas as pd

In [2]:
values = pd.Series(['apple', 'oragne', 'apple', 'apple'] * 2)

In [3]:
values

0     apple
1    oragne
2     apple
3     apple
4     apple
5    oragne
6     apple
7     apple
dtype: object

In [4]:
pd.unique(values)

array(['apple', 'oragne'], dtype=object)

In [5]:
pd.value_counts(values)

apple     6
oragne    2
dtype: int64

In [6]:
values = pd.Series([0, 1, 0, 0]*2)

In [7]:
dim = pd.Series(['apple', 'orage'])

In [8]:
values

0    0
1    1
2    0
3    0
4    0
5    1
6    0
7    0
dtype: int64

In [9]:
dim

0    apple
1    orage
dtype: object

In [10]:
dim.take(values)

0    apple
1    orage
0    apple
0    apple
0    apple
1    orage
0    apple
0    apple
dtype: object

### 12.1.2 pandasÏùò Categorical

In [13]:
fruits = ['apple', 'orange', 'apple', 'apple'] * 2

In [14]:
N = len(fruits)

In [15]:
df = pd.DataFrame({
    'fruit' : fruits,
    'basket_id': np.arange(N),
    'count': np.random.randint(3, 15, size=N),
    'weight' : np.random.uniform(0, 4, size=N)},
    columns=['basket_id', 'fruit', 'count', 'weight'])

In [16]:
df

   basket_id   fruit  count    weight
0          0   apple      6  2.054489
1          1  orange     11  3.132489
2          2   apple      7  1.990630
3          3   apple      3  3.094927
4          4   apple     13  0.778889
5          5  orange     10  1.327516
6          6   apple     10  1.216415
7          7   apple      6  2.986792

In [22]:
fruit_cat = df['fruit'].astype('category')

In [23]:
fruit_cat

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
Name: fruit, dtype: category
Categories (2, object): ['apple', 'orange']

In [24]:
c = fruit_cat.values

In [26]:
c.categories

Index(['apple', 'orange'], dtype='object')

In [27]:
c.codes

array([0, 1, 0, 0, 0, 1, 0, 0], dtype=int8)

In [28]:
df['fruit'] = df['fruit'].astype('category')

In [29]:
df.fruit

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
Name: fruit, dtype: category
Categories (2, object): ['apple', 'orange']

In [31]:
my_categories = pd.Categorical(['foo', 'bar', 'baz', 'foo', 'bar'])

In [32]:
my_categories

['foo', 'bar', 'baz', 'foo', 'bar']
Categories (3, object): ['bar', 'baz', 'foo']

In [34]:
categories = [ 'foo', 'bar', 'baz']

In [35]:
codes = [0, 1, 2, 0, 0, 1]

In [36]:
my_cats_2 = pd.Categorical.from_codes(codes, categories)

In [37]:
my_cats_2

['foo', 'bar', 'baz', 'foo', 'foo', 'bar']
Categories (3, object): ['foo', 'bar', 'baz']

In [38]:
ordered_cat = pd.Categorical.from_codes(codes, categories, ordered=True)

In [39]:
ordered_cat

['foo', 'bar', 'baz', 'foo', 'foo', 'bar']
Categories (3, object): ['foo' < 'bar' < 'baz']

In [40]:
my_cats_2.as_ordered()

['foo', 'bar', 'baz', 'foo', 'foo', 'bar']
Categories (3, object): ['foo' < 'bar' < 'baz']

### 12.1.3 Categorical Ïó∞ÏÇ∞

In [41]:
np.random.seed(12345)

In [42]:
draws = np.random.randn(1000)

In [43]:
draws[:5]

array([-0.20470766,  0.47894334, -0.51943872, -0.5557303 ,  1.96578057])

In [44]:
bins = pd.qcut(draws, 4)

In [46]:
bins

[(-0.684, -0.0101], (-0.0101, 0.63], (-0.684, -0.0101], (-0.684, -0.0101], (0.63, 3.928], ..., (-0.0101, 0.63], (-0.684, -0.0101], (-2.9499999999999997, -0.684], (-0.0101, 0.63], (0.63, 3.928]]
Length: 1000
Categories (4, interval[float64]): [(-2.9499999999999997, -0.684] < (-0.684, -0.0101] < (-0.0101, 0.63] < (0.63, 3.928]]