In [1]:
import numpy as np
import pandas as pd
import scipy as sp

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/train.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44553 entries, 0 to 44552
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   성별코드         44553 non-null  object
 1   연령대코드(5세단위)  44553 non-null  int64
 2   신장(5Cm단위)    44553 non-null  int64
 3   체중(5Kg단위)    44553 non-null  int64
 4   허리둘레         44553 non-null  float64
 5   시력(좌)        44553 non-null  float64
 6   시력(우)        44553 non-null  float64
 7   청력(좌)        44553 non-null  float64
 8   청력(우)        44553 non-null  float64
 9   수축기혈압        44553 non-null  float64
 10  이완기혈압        44553 non-null  float64
 11  식전혈당(공복혈당)   44553 non-null  float64
 12  총콜레스테롤       44553 non-null  float64
 13  트리글리세라이드     44553 non-null  float64
 14  HDL콜레스테롤     44553 non-null  float64
 15  LDL콜레스테롤     44553 non-null  float64
 16  혈색소          44553 non-null  float64
 17  요단백          44553 non-null  float64
 18  혈청크레아티닌      44553 non-null  float64
 19  (혈청지오티)AST   44553 non-null  float64
 20  (혈청지오티)ALT   44553 non-null  float64
 21  감마지티피        44553 non-null  float64
 22  흡연상태         44553 non-null  int64
 23  구강검진수검여부     44553 non-null  object
 24  치아우식증유무      44553 non-null  float64
 25  치석           44553 non-null  object
dtypes: float64(19), int64(4), object(3)
memory usage: 8.8+ MB

In [4]:
df['혈압차'] = df['수축기혈압'] - df['이완기혈압']

In [10]:
df.groupby(['연령대코드(5세단위)'])['혈압차'].var().sort_values(ascending=False)

In [24]:
df['비만'] = df['허리둘레'] / df['신장(5Cm단위)']
df1 = df[df['비만'] >= 0.58]['성별코드'].value_counts()

In [32]:
df1

M    1719
F    1470
Name: 성별코드, dtype: int64

In [31]:
df1.describe()

count       2.000000
mean     1594.500000
std       176.069589
min      1470.000000
25%      1532.250000
50%      1594.500000
75%      1656.750000
max      1719.000000
Name: 성별코드, dtype: float64

In [26]:
print(df1['M']/df1['F'])

1.1693877551020408