In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/train.csv")

### Q1 Arrival Delay in Minutes 컬럼이 결측치인 데이터들 중 'neutral or dissatisfied' 보다 'satisfied'의 수가 더 높은 Class는 어디 인가?

In [22]:
df1 = df[df['Arrival Delay in Minutes'].isnull()]
df2 = df1.groupby(['Class', 'satisfaction'], as_index=False).size()
df3 = df2.pivot(index='Class', columns='satisfaction', values='size')
df4 = df3[df3['neutral or dissatisfied'] < df3['satisfied']]

In [37]:
df2

      Class             satisfaction  size
0  Business  neutral or dissatisfied    36
1  Business                satisfied    76
2       Eco  neutral or dissatisfied   100
3       Eco                satisfied    25
4  Eco Plus  neutral or dissatisfied    15
5  Eco Plus                satisfied     4

In [36]:
df2.stack()

0  Class                          Business
   satisfaction    neutral or dissatisfied
   size                                 36
1  Class                          Business
   satisfaction                  satisfied
   size                                 76
2  Class                               Eco
   satisfaction    neutral or dissatisfied
   size                                100
3  Class                               Eco
   satisfaction                  satisfied
   size                                 25
4  Class                          Eco Plus
   satisfaction    neutral or dissatisfied
   size                                 15
5  Class                          Eco Plus
   satisfaction                  satisfied
   size                                  4
dtype: object

In [38]:
df2.unstack()

Class         0                   Business
              1                   Business
              2                        Eco
              3                        Eco
              4                   Eco Plus
              5                   Eco Plus
satisfaction  0    neutral or dissatisfied
              1                  satisfied
              2    neutral or dissatisfied
              3                  satisfied
              4    neutral or dissatisfied
              5                  satisfied
size          0                         36
              1                         76
              2                        100
              3                         25
              4                         15
              5                          4
dtype: object