In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/nflx/NFLX.csv')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4874 entries, 0 to 4873
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       4874 non-null   object
 1   Open       4874 non-null   float64
 2   High       4874 non-null   float64
 3   Low        4874 non-null   float64
 4   Close      4874 non-null   float64
 5   Adj Close  4874 non-null   float64
 6   Volume     4874 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 266.7+ KB

### Q1. 매년

In [10]:
df['Date'] = pd.to_datetime(df['Date'])

In [41]:
df['Date_Str'] = df['Date'].dt.strftime('%Y-%m')

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4874 entries, 0 to 4873
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       4874 non-null   datetime64[ns]
 1   Open       4874 non-null   float64
 2   High       4874 non-null   float64
 3   Low        4874 non-null   float64
 4   Close      4874 non-null   float64
 5   Adj Close  4874 non-null   float64
 6   Volume     4874 non-null   int64
 7   Date_Str   4874 non-null   object
dtypes: datetime64[ns](1), float64(5), int64(1), object(1)
memory usage: 304.8+ KB

In [28]:
df1 = df.groupby(df['Date'].dt.strftime('%Y-%m')).mean()

In [34]:
df1.head()

             Open      High       Low     Close  Adj Close        Volume
Date
2002-05  1.155833  1.175119  1.121429  1.135834   1.135834  2.464677e+07
2002-06  1.050214  1.084321  1.011929  1.038071   1.038071  3.709510e+06
2002-07  1.119578  1.154675  1.066429  1.110000   1.110000  3.345936e+06
2002-08  0.874805  0.902175  0.832890  0.870974   0.870974  2.949227e+06
2002-09  0.843179  0.858679  0.812786  0.828071   0.828071  2.787470e+06

In [33]:
df1.loc[df1.index.str.contains('-05')]['Open']

Date
2002-05      1.155833
2003-05      1.641497
2004-05      4.261143
2005-05      1.951905
2006-05      4.163571
2007-05      3.159351
2008-05      4.435034
2009-05      5.790571
2010-05     14.417071
2011-05     34.650272
2012-05     10.523247
2013-05     31.936429
2014-05     51.121292
2015-05     85.057429
2016-05     92.705715
2017-05    158.255455
2018-05    329.779541
2019-05    359.664548
2020-05    433.880499
2021-05    496.923996
Name: Open, dtype: float64