In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/train.csv")

### Q1 흡연자와 비흡연자 각각 charges의 상위 10% 그룹의 평균의 차이는?

In [3]:
y = df[df['smoker'] == 'yes']['charges'].quantile(0.9)
n = df[df['smoker'] == 'no']['charges'].quantile(0.9)

In [4]:
mean_y = df[(df['smoker'] == 'yes') & (df['charges'] >= y)]['charges'].mean()
mean_n = df[(df['smoker'] == 'no') & (df['charges'] >= n)]['charges'].mean()

In [6]:
mean_y - mean_n

29297.954548156144

In [8]:
df.isnull()

        age    sex    bmi  children  smoker  region  charges
0     False  False  False     False   False   False    False
1     False  False  False     False   False   False    False
2     False  False  False     False   False   False    False
3     False  False  False     False   False   False    False
4     False  False  False     False   False   False    False
...     ...    ...    ...       ...     ...     ...      ...
1065  False  False  False     False   False   False    False
1066  False  False  False     False   False   False    False
1067  False  False  False     False   False   False    False
1068  False  False  False     False   False   False    False
1069  False  False  False     False   False   False    False

[1070 rows x 7 columns]