In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./data/basic1.csv')

In [3]:
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [4]:
df1 = df[df['f2'] == 1]

In [10]:
df2 = df1['f1'].cumsum()

In [11]:
# df3 = df2.bfill()
df3 = df2.fillna(method='bfill')

In [12]:
df3.mean()

980.3783783783783