In [1]:
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [2]:
df = pd.read_csv('./data/titanic/train.csv')

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
X_train, X_test = train_test_split(df, test_size=0.2, shuffle=True, random_state=2021)

In [5]:
y_train = X_train[['PassengerId', 'Survived']]
X_train = X_train.drop(columns=['PassengerId', 'Survived'])
y_test = X_test[['PassengerId', 'Survived']]
X_test = X_test.drop(columns=['PassengerId', 'Survived'])

y = y_train['Survived']

In [6]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((712, 10), (179, 10), (712, 2), (179, 2))

In [7]:
features = ["Pclass", "Sex", "SibSp", "Parch"]
X_train = pd.get_dummies(X_train[features])
X_test = pd.get_dummies(X_test[features])

In [8]:
model = RandomForestClassifier(n_estimators=200, max_depth=7, random_state=2021)
model.fit(X_train, y)
predictions = model.predict(X_test)
model.score(X_train, y)

0.8356741573033708

In [9]:
output = pd.DataFrame({"PassengerId": y_test['PassengerId'], "Survived": predictions})
output.to_csv("123456789.csv", index=False)

In [10]:
model.score(X_test, y_test['Survived'])

0.7318435754189944