## 9.4 장바구니 분석과 연관 규칙

### 9.4.1 장바구니 분석

### 9.4.2 장바구니 분석을 위한 샘플 데이터 입력

In [1]:
import pandas as pd

In [2]:
trans = pd.read_excel('./data/Online-Retail.xlsx', sheet_name='Online Retail')
trans.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [3]:
trans['cancel_flg'] = trans.InvoiceNo.map(lambda x:str(x)[0])
trans.groupby('cancel_flg').size()

cancel_flg
5    532618
A         3
C      9288
dtype: int64

In [5]:
trans = trans[(trans.cancel_flg == '5') & (trans.CustomerID.notnull())]

### 9.4.3 연관 규칙

In [6]:
trans['StockCode'].value_counts().head(5)

85123A    2035
22423     1724
85099B    1618
84879     1408
47566     1397
Name: StockCode, dtype: int64

#### 지지도(support)

In [9]:
trans_all = set(trans.InvoiceNo)
trans_a = set(trans[trans['StockCode'] == '85123A'].InvoiceNo)
print(len(trans_a))
trans_b = set(trans[trans['StockCode']=='85099B'].InvoiceNo)
print(len(trans_b))

1978
1600

In [10]:
trans_ab = trans_a&trans_b
print(len(trans_ab))

252

In [11]:
print('두 상품을 모두 포함하는 장바구니 수: {}'.format(len(trans_ab)))
print('두 상품을 모두 포함하는 장바구니가 전체에서 차지하는 비율: {:.3f}'.format(len(trans_ab)/len(trans_all)))

두 상품을 모두 포함하는 장바구니 수: 252
두 상품을 모두 포함하는 장바구니가 전체에서 차지하는 비율: 0.014

In [13]:
print('상품 85123A를 포함하는 장바구니 수: {}'.format(len(trans_a)))
print('상품 85123A를 포함하는 장바구니가 전체에서 차지하는 비율: {:.3f}'.format(len(trans_a)/len(trans_all)))

상품 85123A를 포함하는 장바구니 수: 1978
상품 85123A를 포함하는 장바구니가 전체에서 차지하는 비율: 0.107