# 01 책의 개요와 파이썬 기초

## 1.1 데이터 과학자의 업무

### 1.1.1 데이터 과학자의 업무

### 1.2.2 파이썬 기초

#### for문

In [1]:
total = 0

for num in [1,2,3]:
    print('num:', num)
    total = total + num
    
print('total:', total)

num: 1
num: 2
num: 3
total: 6

In [2]:
for i in range(1, 11, 2):
    print(i)

1
3
5
7
9

In [3]:
dic_data = {
    'apple': 100,
    'banana':100,
    'orange':300,
    'mango':400,
    'melon':500
}

In [4]:
for key, value in dic_data.items():
    print(key, value)

apple 100
banana 100
orange 300
mango 400
melon 500

In [5]:
data_list = [1,2,3,4,5,6,7,8,9,10]
data_list1 = []

In [6]:
data_list1 = [i * 2 for i in data_list]

In [7]:
print(data_list)

In [25]:
data_list11 = [ 'i : {0}, j : {1}'.format(i, j) for i in data_list for j in data_list]

In [8]:
[i * 2 for i in data_list if i % 2 == 0]

[4, 8, 12, 16, 20]

#### zip

In [28]:
for one, two in zip([1,2,3], [11, 12, 13]):
    print(one, '과', two)

1 과 11
2 과 12
3 과 13

### 1.2.5 함수

### 1.2.6 클래스와 인스턴스

In [36]:
class PrintClass:
    def print_me(self):
        print(self.x, self.y)

In [37]:
p1 = PrintClass()

In [40]:
p1.x = 10
p1.y = 100
p1.z = 1000

In [41]:
p1.print_me()

10 100

In [42]:
p1.z

1000