In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./data/orings.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   temp    23 non-null     int64
 1   damage  23 non-null     int64
dtypes: int64(2)
memory usage: 496.0 bytes

In [4]:
df1 = df[df['damage'] >= 1]

In [20]:
df1.corr(method='pearson')

            temp    damage
temp    1.000000 -0.579051
damage -0.579051  1.000000

In [19]:
df1.corr(method='spearman')

            temp    damage
temp    1.000000 -0.617914
damage -0.617914  1.000000