In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/train.csv")

### Q1. 정보(row수)가 가장 많은 상위 3차종의 price값의 각 평균값은?

In [3]:
top = df['model'].value_counts().index[:3]

In [4]:
df.loc[df['model'].isin(top)].groupby(['model'])['price'].mean().to_frame()

                price
model
 I10      7646.137891
 I30     11651.821759
 Tucson  15805.441373