In [1]:
import pandas as pd

In [2]:
channel = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')
video = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')

### Question 1

In [3]:
channel['ct'] = pd.to_datetime(channel['ct'])
video['ct'] = pd.to_datetime(video['ct'])
answer = video.videoname.value_counts()

In [4]:
answer

 공범 EP1    3492
 공범 EP2    3204
 공범 EP3    2568
 공범 EP4    2280
 공범 EP5    1562
 공범 EP6    1274
 공범 EP7     555
 공범 EP8     266
Name: videoname, dtype: int64

### Question 2

In [5]:
video.iloc[3490:3492, :]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
3490,c5JQp6xafqc,3180332,41043,1113,0,7674,2021-11-01 15:20:02,공범 EP1
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,공범 EP1

In [6]:
video.sort_values(['videoname','ct']).drop_duplicates('videoname', keep='last')[['viewcnt','videoname','likecnt','ct']]

       viewcnt videoname  likecnt                  ct
3491   3180532    공범 EP1    41043 2021-11-01 15:30:03
6695   2199328    공범 EP2    25566 2021-11-01 15:30:03
9263   1671294    공범 EP3    22719 2021-11-01 15:30:03
11543  1818493    공범 EP4    22703 2021-11-01 15:30:03
13105  1503435    공범 EP5    19926 2021-11-01 15:30:04
14934  1750222    공범 EP6    24494 2021-11-01 15:30:04
13660  1630200    공범 EP7    29335 2021-11-01 15:30:05
15200  1289088    공범 EP8    25616 2021-11-01 15:30:05

### Question 3

In [7]:
target = channel[channel.ct >= pd.to_datetime('2021-10-03')].sort_values(['ct', 'channelname']).drop_duplicates('channelname')
target[['channelname', 'subcnt']]

          channelname   subcnt
393            논리왕 전기   922000
139             야전삽짱재   257000
266        츄정ChuJeong   322000
901        김농밀의 농밀한 삶     7520
1028      릴펄 Lilpearl    10100
520   와글와글 WagleWagle    55000
647               조나단   215000
774           형사!탐정되다    14900
1276    Balming Tiger    54300
1155    곽토리 kwak tori   471000
12                꽈뚜룹  1330000

### Question 4

In [15]:
end = channel.loc[channel.ct.dt.strftime('%Y-%m-%d %H') =='2021-11-01 15']
start = channel.loc[channel.ct.dt.strftime('%Y-%m-%d %H') =='2021-10-03 03']

### Question 5

In [19]:
import datetime

ep_one = video.loc[video.videoname.str.contains('1')].sort_values('ct').reset_index(drop=True)
ep_one[(ep_one.ct.diff(1) >= datetime.timedelta(minutes=20)) | (ep_one.ct.diff(1) <= datetime.timedelta(minutes=5))]
answer = ep_one[ep_one.index.isin([720, 721, 722, 723, 1635, 1636, 1637])]
answer

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,공범 EP1
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
723,c5JQp6xafqc,2228669,34566,849,0,7194,2021-10-13 09:50:03,공범 EP1
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,공범 EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,공범 EP1
1637,c5JQp6xafqc,2708448,37903,988,0,7410,2021-10-19 18:30:03,공범 EP1

### Question 10

In [9]:
answer = video.loc[set(video.index) - set(video.drop_duplicates().index), :]
answer = video[video.index.isin(set(video.index) - set(video.drop_duplicates().index))]

In [10]:
answer[['videoname', 'ct']]

     videoname                  ct
722     공범 EP1 2021-10-13 09:41:37
3927    공범 EP2 2021-10-13 09:41:37